$baseColour = #6a6a6a
$primary = #2960B7

body
  font 17px/26px "Helvetica Neue", Helvetica, Arial, sans-serif
  color $baseColour

button, a.button
  background-color $primary
  color #fff
  border 2px solid $primary
  margin-left 5px
  text-decoration none
  font-size 14px

footer
  position fixed
  bottom 0

  p
    text-align center
