doctype html
html
  head
    title Grunt... Oink!
    link(rel='stylesheet', href='../../css/compiled/style.css')
  body        
    .container
      p This is my home.
    footer
      p 2015 - Me &copy;
